{{!-- bonus iteration, celebrity details --}}

<h1>{{celebrity.name}}</h1>

<p>Occupation: {{celebrity.occupation}}</p>
<p>Catch Phrase: {{celebrity.catchPhrase}}</p>

<a href="/celebrities">Go back to Celebrities</a>

