{{!-- Iteration 4 --}}

<h2>List of Celebrities</h2>
 
<ul>
  {{!-- celebrities is the name of the object you gave in celebrities.routes.js --}}
  {{#each celebrities}}
    <li>
        <a href="/celebrities/{{this._id}}">{{ this.name }}</a>
    </li>
  {{/each}}
</ul>


<a href="/celebrities/create">Add a Celebrity</a>
<br>
<a href="/">Go back Home</a>
<br>

{{!-- Edit, Delete Celebrity --}}