{{!-- Iteration 7 --}}

<h2>List of Movies</h2>
 
<ul>
  {{#each movies}}
    <li>
        <a href="/movies/{{this._id}}">{{ this.title }}</a>
    </li>
  {{/each}}
</ul>

<a href="/movies/create">Add a Movie</a>


